.main {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #fafafa;
  overflow: hidden;
}

.cardStackSection {
  margin-bottom: 8rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.gallerySection {
  margin-bottom: 8rem;
}

.spacedSection {
  margin-top: 8rem;
}
