.wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1480px; /* Adjusted to allow approx 352px width per card */
  margin: -100px auto 40px auto;
  padding: 0 1rem;
  perspective: 1200px;
}

@media (max-width: 1280px) {
  .wrapper {
    margin: 20px auto 40px auto;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}
@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1280px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
